
.basic-form {
  padding: var(--base-unit-half);
  margin: var(--base-unit-half);
  border: 2px solid var(--accent-color-dark);
  background-color: var(--accent-color-light);
  border-radius: var(--base-rounded-corners);
}
.field-pair {
  display: flex;
  align-items: baseline;
  margin-bottom: var(--base-unit-quarter);
}
.field-pair label {
  flex: 0 1 75px;
  margin-right: var(--base-unit-half);
  text-align: right;
}
