.print-records-page {
  margin: var(--base-unit);
}

.print-records-page table {
  width: 100%;
}

.print-records-page thead tr {
  background: none;
  border-bottom: 1px solid #000000;
}

.print-records-page td,
.print-records-page th {
  border: none;
}

.print-records-page td:not(:first-child) {
  text-align: center;
}

.print-records-page a {
  text-decoration: none;
}

tbody.zebra tr:nth-child(even) {
  background-color: #f0eeee;;
}

@media print {
  *,
  *:before,
  *:after,
  p:first-letter,
  div:first-letter,
  blockquote:first-letter,
  li:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  h5.panel-heading,
  thead tr {
    font-family: sans-serif;
    font-weight: bold;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
  .noprint {
    display: none;
  }
}

.print_controls {
  border: 2px #000 dashed;
  background-color: #c7beda;
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.print_controls label {
  font-weight: bold;
}

.fields,
.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.print-records-page table {
  font-size: 18px;
}
