.list-admin {
  border: 2px dashed var(--accent-color-dark);
  padding: var(--base-unit);
  margin: var(--base-unit) 0;
}

.list-admin input {
  margin-right: var(--base-unit);
}

.add-song input,
.add-song select {
  margin-bottom: var(--base-unit);
}
