:root {
  --accent-color-dark: #582525;
  --accent-color-light: #ac8a8a;
  --color-black: #333;
  --color-white: #f7f5f7;
  --base-unit: 1em;
  --base-unit-half: 0.5em;
  --base-unit-quarter: 0.25em;
  --base-rounded-corners: 6px;
  --base-unit-double: 2em;
}

body, html {
  height:100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--color-black);
  background: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ol {
  margin: 0;
}

img,
select,
input[type=text],
input[type=password],
input[type=email] {
  width: 100%;
}

.btn,
button {
  border: none;
  cursor: pointer;
  background: var(--accent-color-light);
  color: var(--accent-color-dark);
  border-radius: var(--base-rounded-corners);
  padding: 5px 10px;
  font-weight: bold;
  text-decoration: none;
}

.btn,
button.active {
  background: var(--accent-color-dark);
  color: #dfdfdf;
}

button:disabled {
  opacity: 0.2;
}

/* Foundational Layout */

nav {
  margin-bottom: var(--base-unit);
}

nav li {
  padding: 0;
}

.page {
  padding: var(--base-unit);
  margin: 0 var(--base-unit-double);
}

.page-footer {
  padding: var(--base-unit-double) 0;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0;}